#Top{
    height: 50px;
    width: 30%;
    background-color: darkcyan;
}
#MidI{
    height: 500px;
    width: 35%;
    background-color: skyblue;
}
#MidP{
    height: 50%;
    width: 30%;
    background-color: skyblue;
}
#MidC{
    height: 50%;
    width: 30%;
    background-color: skyblue;
}